/* RESET!!! */
html, body, div, img, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; border-spacing:0; }  

textarea, input, a{ outline:none;}

img{ border:0;}
body{
	font-family: "Arial";
	font-size: 14px;
	margin : 2em auto 10px auto;
	min-width: 760px;
        max-width: 1280px;
        
}

h1
{
	border-bottom : 1px solid #CCCCCC;
	color: #808080;
	font-size : 20px;
	padding-bottom : 5px;
	margin-bottom : 0.2em; 
}

h4
{
	margin-top: 0.7em;	
}

a	
{
	text-decoration : none;
}

a:hover
{
	text-decoration : underline;
}

a:visited
{
	color : #0000FF;
}

fieldset
{
	border : 0;
}

p
{
	margin : 0.5em 0 1.75em 0;	
}

form p, .ecplus-form-element p, .filterControl p
{
    margin : 0.5em 0 0.5em 0;	
}

.ecplus-data th
{
    color: #EEEEEE;
    background: #444444;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    -ms-user-select:none;
    cursor : pointer;
}

.ecplus-data th:hover
{
    background-color:#444488;
}

tr
{
	
}

#pageHead
{
    position: relative;
    height: 64px;
}

.beta-tag
{
    font-size: 14pt;
    font-weight:bold;
    color : #a54df9;
    position: absolute;
    left : 10em;
    bottom : 0;
    z-index: 5;
}

.editing .title
{
    padding-left: 30px;
    height: 30px;
    background: url('../images/glyphicons/glyphicons_030_pencil.png')  no-repeat left center;
}

.unsaved
{
    background: url('../images/glyphicons/glyphicons_030_pencil.png')  no-repeat right bottom;
}

.ecplus-data td
{
	overflow : hidden;
	word-wrap: break-word;
}

.ecplus-data th, .ecplus-data td
{
	padding : 0.25em 0.25em 0.25em 0.25em;
	border-right : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	text-align : left;
}

table.ecplus-data
{
	border : 1px solid #CCCCCC;
}

textarea
{ 
	border: 1px solid #888888 !important;
}

label
{
	display : inline-block;
	font-weight: bold;
	min-width: 15em;
}

.ecplus-settingspanel label
{
	min-width : auto;
}

.provider
{
	padding: 0.75em 0.25em 0.75em 0.25em;
	margin: 0.75em 0.25em 0.75em 0.25em;
}


tr.alt
{
	background: #EEEEEE;
	padding: 5px 5px 5px 5px;
}

.bubbleth
{
	background: transparent;
	font-weight : bold;
	border:none;
	margin-right : 3px !important;
	padding : 2px 2px 2px 2px;
}

.ecplus-data-container
{
	overflow-x : auto;
}

.ecplus-data
{
	
}

.ecplus-valid
{
	
}

.ecplus-checking
{
	border:1px solid #a354ee;
}

.ecplus-invalid
{
	border:1px solid #FF0000;
}

.ecplus-data tr:hover, .ecplus-data tr.alt:hover
{
	cursor: pointer;
	background-color: #CCCCFF;
}

.ecplus-data tr.selected, .ecplus-data tr.alt.selected
{
	cursor: pointer;
	background-color: #d8e2fe;
}


.ecplus-toolbar a
{
	display: inline-block;
	margin : 0 0.25em 0 0.25em;
	vertical-align: middle;
}

.ecplus-projectlist, .ecplus-userprojects
{
	display: inline-block;
	width : 49%;
	vertical-align:top;
	padding: .25em .25em .25em .25em;
	border-radius : .25em;
}

.ecplus-userprojects
{
	background-color : #EEEEEE;
	overflow:auto;
}

/* For slidy form */

.ecplus-form, .ecplus-form-pane
{
	position: relative;
	overflow: hidden !important;
	text-align : left;
}

.ecplus-form form
{
	display: block;
	height: 400px;
	width: auto;
	overflow: hidden;
}

.ecplus-form .ecplus-question
{
	position:relative;
	display : inline-block;
	width: 475px;
	height: 400px;
	text-align : center;
	vertical-align: middle;
}

.ecplus-question iframe
{
	border : 0;
}
.ecplus-form .ecplus-question label
{
	display : block;
	font-size: 12pt;
	font-weight : bold;
	margin-bottom: 2em;
}

.ecplus-form .ecplus-question p label
{
	width : auto;
	display : inline-block;
	font-size: 12pt;
	font-weight : normal;
	margin-bottom: 0;
}

.ecplus-question .err
{
	padding : 0.25em 0.25em 0.25em 0.25em;
}

.ecplus-form .ecplus-question input, .ecplus-form .ecplus-question button, .ecplus-form .ecplus-question textarea, .ecplus-form .ecplus-question select
{
	font-size: 12pt;
	text-align : left;
}


.ecplus-form .ecplus-form-next, .ecplus-form .ecplus-form-previous
{
	border : 1em solid #EEEEEE;
	position: absolute;
	width : 100px;
	height : 2em;
	margin-top: -1.25em;
	padding-top: 0.5em;
	vertical-align : middle;
	overflow : hidden;
	z-index: 100;
}

.ecplus-form .ecplus-form-next
{	
	bottom: 0;
	right : 0.25em;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	background : #EEEEEE url('../images/glyphicons/glyphicons_223_thin_right_arrow.png') no-repeat left center;
}

.ecplus-form .ecplus-form-previous
{
	bottom: 0;
	left : 0.25em;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	background : #EEEEEE url('../images/glyphicons/glyphicons_224_thin_arrow_left.png')  no-repeat right center;
}

.ecplus-form .ecplus-form-next a, .ecplus-form .ecplus-form-previous a
{
	position: absolute;
	display : block;
	width : 100px;
}

.ecplus-form .ecplus-form-next a
{
	padding-left: 2em;
	text-align : left;
	left: 0px;
	
}

.ecplus-form .ecplus-form-previous a
{
	padding-right: 2em;
	text-align: right;
	right: 2px;

}

/* vertical form  */

.ecplus-vertical-form .ecplus-question
{
	margin-top : 1em;
	position: relative;
	display : block;
}

.ecplus-vertical-form .ecplus-form-next, .ecplus-vertical-form .ecplus-form-previous {display:none;}

.ecplus-vertical-form .ecplus-question label{
	display : inline-block;
	font-weight: bold;
	vertical-align : top;
	width : 10em;
}

.ecplus-vertical-form .ecplus-question fieldset label
{
	display : inline-block;
	width : 50%;
	font-size: 12pt;
	font-weight : normal;
	margin-bottom: 0;
}

.ecplus-vertical-form .ecplus-question .ecplus-messages, .ecplus-vertical-form .ecplus-question .ecplus-messages p
{
	display : inline;
}

.ecplus-vertical-form .ecplus-question p
{
	display : inline-block;
	vertical-align : top;
}

.ecplus-vertical-form .ecplus-question-hidden, .ecplus-vertical-form .ecplus-question-jumped
{
	display : none;
}

.ecplus-table-footer
{
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.ecplus-table-footer a
{
	display: inline-block;
	margin : 0 0.25em 0 0.25em;
	vertical-align: middle;
}

.ecplus-table-footer span:first-child
{
	/*margin-left : 0.5em;*/
}

.ecplus-table-footer span:last-child
{
	/*margin-right : 0.5em;*/
}

/* general */

.locationControl
{
	text-align : left;
}

.ecplus-toolbar-divider
{
	display :none;
	width: 0.75em;
	border-right : 2px solid #CCCCCC;
	margin-right : 0.75em;
}

.ecplus-toolbar label
{
    min-width: 0;
    margin-left : 1em;
    margin-right : 0.5em;
}

.ecplus-form .ecplus-question fieldset label
{
	display : inline-block;
	width : 50%;
	font-size: 12pt;
	font-weight : normal;
	margin-bottom: 0;
}

.ecplus-question-hidden
{
	display:none;
}

.ecplus-columns
{
	position: relative;
}

.ecplus-columns .column
{
	clear : both;
	border-radius : 0.5em;
	padding: 0.5em;
	display: inline-block;
	vertical-align:top;
}

.ecplus-columns .first, .ecplus-columns .last
{
	position: absolute;
	top: 0;
	width : 19em;
	overflow : auto;
}

.loading 
{
	-webkit-appearance: none;
	background : #FFFFFF url('../images/loading-sm.gif') left top no-repeat;
	border : 1px solid #8e9ba4;
	min-width : 10em;
}

.ecplus-columns .first
{
	left : 0;
	background-color : #FFEEEE;
        max-height: 85%;
}

.ecplus-columns .second
{
	display:block;
	margin : 0 21em 0 21em;
	height : 68em;
	background-color : #EEFFEE;
        
}

.ecplus-columns .last
{
	right:0;
	background-color: #EEEEFF;
	height: 80%;
}

@media all and (max-width: 1024px){
	#loginStatus
	{
		width: 27em;
	}
	
	#breadcrumbs
	{
		height : 2em;
	}
	
	.ecplus-columns .first, .ecplus-columns .last
	{
		width : 15em;
	}
	
	.ecplus-columns .second
	{
		margin : 0 17em 0 17em;
	}
}

@media all and (max-width: 800px){
	
	
	.ecplus-columns .first, .ecplus-columns .last
	{
		width : 12em;
	}
	
	.ecplus-columns .second
	{
		margin : 0 14em 0 14em;
	}
}

.ecplus-columns .last label
{
	display : inline-block;
	width : 7em;
}

.ecplus-columns .last input[type!=submit]
{
	display : inline-block;
	width : 10em;
}

#destination, .last
{
	height: 90%;
	overflow-y: auto;
	overflow-x: hidden;
}

.first div.ecplus-form-element:hover
{
	background-color : #FFCCCC;
}

.second div.ecplus-form-element:hover, .ecplus-form-element .ui-sortable-placeholder
{
	visibility : show;
	background-color : #CCFFCC;
}

.second div.ecplus-form-element.selected
{
	
}

.ecplus-form-element
{
	padding: 0.5em 0.25em 0.5em 0.25em;
}

.ecplus-form-element p.title
{
	font-weight: bold;
	margin: 0 0 19px 0;
	
}


.ecplus-form-element.ecplus-select1-element p.title
{
	font-weight: bold;
	padding: 0 0 19px 0;
	margin-bottom : 0;
}

.ecplus-form-element img
{
	display: block;
	height: 25px;
}

.ecplus-dropdown
{
	position: relative;
	display: inline-block;
	overflow: show;
}

.ecplus-dropdown div
{
	background: #FFFFFF;
        padding:1em 1em 1em 1em;
	position: absolute;
	top: 100%;
	left : 0;
	display : none;
	border: 1px solid #CCCCCC;
	z-index : 20;
}

.ecplus-dropdown-menu label
{
	margin : 0.25em 0em 0.25em 0em;
}

.ecplus-map
{
	position: relative;
	display : inline-block;
	width : 50%;
	min-height: 16em;
	left:2px;		
}

.ecplus-map-controls
{
	position: absolute;
	display : inline-block;
	top:30px;
	left: 52%;
	right: 2px;
	bottom : 2px;
	
}

.ecplus-map-controls label
{
	min-width : 10em;
}

#destination 
{
    position: relative;
}

.editmarker
{
    position : absolute;
    top: 0px;
    right: 0px;
    width: 100%;
}

.button
{
	border-radius: 0.5em;
	background-color : #EEEEEE;
	border: 1px solid #666666;
	color: #444444;
	display : inline-block;
	font-size : 10pt;
	margin : 0.25em 0.25em 0.25em 0.25em;
	padding : 0.25em 1.5em 0.25em 1.5em;
	text-align : center;
}

.button:hover
{
	color: #000000;
	text-decoration : none;
	border-color:black;
	background-color: #DDDDDD;
}

.button.danger, .ui-widget-content.danger, .ui-button.danger
{
	background : #FFEEEE !important;
	border: 1px solid #FF6666 !important;
}

.button.danger:hover
{
	background-color : #FF6666 !important;
}

.flash
{
	border-radius: 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em; 
}

.msg
{
	background-color :#EEEEEE;
	color : #000000;
	padding : 0.5em 0.25em 0.5em 0.25em ;
}

.err
{
	background-color :#FFEEEE;
	color : #AA0000;
	padding : 0.5em 0.25em 0.5em 0.25em ;
}

.go
{
	background-color :#EEFFEE;
	color : #00AA00;
}

.projectImage
{
	float:right;
}

.hMenu
{
	width : 75%;
	text-align : center;
	
}

.menuItem
{
	display : inline-block;
	width: 150px;
}

.rightie
{
	float: right;
}

.leftie
{
	float: left;
}

.ui-tabs .ui-tabs-nav li a.ec-loading
{
	padding-right : 30px;
	background : url('../images/loading-sm.gif') top right no-repeat;
	
}

.ecplus-settingspanel
{
	background-color : #CCCCFF;
	position: absolute;
	top : 0px;
	padding: 0.5em 0.25em;
	width: 100%;
	
}

.ecplus-settingspanel label {
	width : auto;
}

.ecplus-settingspanel form, .ecplus-settingspanel fieldset div
{
	display : inline-block;
}

.ecplus-settingspanel fieldset label, .ecplus-settingspanel fieldset select, .ecplus-settingspanel fieldset h4
{
	display : inline-block;
	vertical-align : middle;
	margin : 0.5em;
}

.ecplus-settingspanel .ecplus-expansionbar
{
	height : 100%;
	width : 20px;
	float : left;
}

.ecplus-settingspanel .ecplus-expansionbar:hover
{
	background-color : #CCCCCC;
	cursor : pointer;
}

.ecplus-pane
{
	position: absolute;
	top: 4em;
	bottom:0em;
	left: 0em;
	right : 0em;
}

.minimised .ecplus-pane
{
	position: absolute;
	top: 0em;
	bottom:0em;
	left: 0em;
	right : 0em;
}

.ecplus-text-element
{

	background : url("../images/textinput.png") 2px 100% no-repeat;	
}

.ecplus-fk-element
{

	background : url("../images/fk.png") 2px 100% no-repeat;	
}

.ecplus-numeric-element
{

	background : url("../images/numbericinput.png") 2px 100% no-repeat;	
}

.ecplus-date-element
{

	background : url("../images/dateinput.png") 2px 100% no-repeat;	
}

.ecplus-time-element
{

	background : url("../images/timeinput.png") 2px 100% no-repeat;	
}

.ecplus-select1-element .title
{

	background : url("../images/selectone.png") 2px bottom no-repeat;	
}

.ecplus-select1-element .option
{
	background : url("../images/select1opt.png") left 50% no-repeat;
	margin: 0px -2px 0px 2px;
	padding : 2px 0px 4px 5px;
}

.ecplus-select1-element .option:last-child
{
	background : url("../images/select1opt.png") left bottom no-repeat;
}

.ecplus-radio-element
{
	min-height: 3em;	
}

.ecplus-radio-element p.title
{
	margin-bottom: 0;
}

.ecplus-radio-element .option
{
	padding-left : 1.25em;
	background : url("../images/radioopt.png") 0% 50% no-repeat;	
}

.ecplus-select-element
{
	min-height: 3em;	
}

.ecplus-select-element p.title
{
	margin-bottom: 0;
}

.ecplus-select-element .option
{
	padding-left : 1.25em;
	background : url("../images/selectopt.png") 0% 50% no-repeat;	
}

.ecplus-textarea-element
{
	height: 5em;
	background : url("../images/textarea.png") 2px 1.75em no-repeat;		
}

.ecplus-location-element
{
	height: 3em;
	background : url("../markers/point") 2px 1.75em no-repeat;		
}

.ecplus-photo-element
{
	height: 3em;
	background : url("../images/glyphicons/glyphicons_011_camera.png") 2px 1.75em no-repeat;		
}

.ecplus-video-element
{
	height: 3em;
	background : url("../images/glyphicons/glyphicons_047_camera_small.png") 2px 1.75em no-repeat;		
}

.ecplus-audio-element
{
	height: 3em;
	background : url("../images/glyphicons/glyphicons_300_microphone.png") 2px 1.75em no-repeat;		
}

.ecplus-barcode-element
{
	height: 3em;
	background : url("../images/barcode.png") 2px 1.75em no-repeat;		
}

.ecplus-branch-element
{
	height: 3em;
	background : url("../images/branch.png") 2px 1.75em no-repeat;		
}

#ec_dialog p
{
    margin-bottom: 0.5em;
}

#loginStatus{
	float:right;
	margin-top: -2px;
	/*display: none;*/
}

#main
{
	min-width : 780px;
	min-height: 400px;
	border: 1px solid #cccccc;
	padding: 10px 10px 10px 10px;
}

#nav
{
    margin-left: 18em;
    margin-top: -2em;
    padding-bottom: 2em;
}

#nav a
{
	padding: 0px 5px 0px 5px;
}

.ui-slider-horizontal
{
	border: 1px solid #CCCCCC;
	background-color : #EEEEEE;
}

.ui-autocomplete
{
	border: 1px solid #CCCCCC;
	background-color : #EEEEEE;
}

#breadcrumbs
{
	margin : 5px 0px 0px 0px;
	padding : 5px 2px 5px 2px;
	border-top: 1px solid #CCCCCC;
	/*border-bottom: 1px solid #CCCCCC;*/
}

#toolbox-inner
{	
	top : 0px;
	width: 90%;
	padding : 0.5em;
	background-color : #FFFFFF;
	z-index : 2;
}

#ecplus_loader_bg
{
	position: fixed;
	top : 0;
	bottom: 0;
	left:0;
	right : 0;
	background-color : rgba(0,0,0,0.4);
}

#ecplus_loader
{	
	background-color : rgba(255,255,255,1);
}

#props label
{
	margin : .4em .2em .4em .2em;
}

#tooltip
{
	position: fixed;
	top:0;
	left:0;
	background : rgba(255,255,255,0.8);
	border: 2px solid #000000;
	border-radius: 5px;
	padding:0.5em 0.5em 0.5em 0.5em;
	z-index: 100;
}

#ecplus-save-button
{
	margin-bottom : 1.5em;
}

.ui-dialog-titlebar-close
{ 
    display : none !important; 
}