body {
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 110px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 110px;
    background-color: #d2a9fd;
    padding:0 50px;
}
.footer ul li {
    list-style: none;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* Custom css*/
h3 {
    margin-top:0;
}
.thumbnail {
    overflow:hidden;
}
.container-fluid {
    padding:0;
}
a.branding img {
    padding-top:10px;
}
div.project {
    margin:.5em;
    border-bottom: 1px solid #ccc;
}
i.project-icon {
    margin-right:10px;
}
.featured-projects {
    margin-top:10px;
}
.featured-projects img {
    float:left;
    margin:10px;
}
.featured-projects a {
    color:#fff;
}
